body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u4946 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  font-size:15px;
  text-align:left;
}
#u4947 {
  position:absolute;
  left:40px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
}
#u4948 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:570px;
}
#u4949 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
}
#u4950 {
  position:absolute;
  left:160px;
  top:56px;
  width:180px;
  height:15px;
  font-size:12px;
  color:#6B6B6B;
  text-align:right;
}
#u4951 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:71px;
}
#u4952 {
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:70px;
}
#u4953 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u4954 {
  position:absolute;
  left:15px;
  top:95px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4956 {
  position:absolute;
  left:100px;
  top:95px;
  width:70px;
  height:16px;
  font-size:13px;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:21px;
}
#u4958 {
  position:absolute;
  left:15px;
  top:120px;
  width:239px;
  height:20px;
  font-size:13px;
  color:#6B6B6B;
}
#u4959 {
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  white-space:nowrap;
}
#u4960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:71px;
}
#u4960 {
  position:absolute;
  left:0px;
  top:150px;
  width:360px;
  height:70px;
}
#u4961 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u4962 {
  position:absolute;
  left:15px;
  top:165px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u4964 {
  position:absolute;
  left:100px;
  top:165px;
  width:70px;
  height:16px;
  font-size:13px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:21px;
}
#u4966 {
  position:absolute;
  left:85px;
  top:190px;
  width:239px;
  height:20px;
  font-size:13px;
  color:#6B6B6B;
}
#u4967 {
  position:absolute;
  left:0px;
  top:2px;
  width:239px;
  white-space:nowrap;
}
#u4968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:63px;
  height:23px;
}
#u4968 {
  position:absolute;
  left:15px;
  top:190px;
  width:60px;
  height:20px;
  font-size:12px;
}
#u4969 {
  position:absolute;
  left:5px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:46px;
}
#u4970 {
  position:absolute;
  left:20px;
  top:255px;
  width:320px;
  height:45px;
  font-size:15px;
}
#u4971 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:17px;
}
#u4972 {
  position:absolute;
  left:20px;
  top:315px;
  width:320px;
  height:16px;
  font-size:13px;
  color:#6B6B6B;
  text-align:center;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4974 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#666666;
  text-align:left;
}
#u4975 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
