body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:346px;
}
#u53 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:345px;
}
#u54 {
  position:absolute;
  left:2px;
  top:164px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:270px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:270px;
}
#u56 {
  position:absolute;
  left:2px;
  top:127px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u57 {
  position:absolute;
  left:30px;
  top:320px;
  width:300px;
  height:1px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u59 {
  position:absolute;
  left:30px;
  top:370px;
  width:300px;
  height:1px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:30px;
  top:280px;
  width:250px;
  height:30px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u62 {
  position:absolute;
  left:30px;
  top:330px;
  width:250px;
  height:30px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u63 {
  position:absolute;
  left:30px;
  top:400px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u65 {
  position:absolute;
  left:30px;
  top:450px;
  width:53px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:0px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u67 {
  position:absolute;
  left:250px;
  top:450px;
  width:80px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
  text-align:right;
}
#u68 {
  position:absolute;
  left:0px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
#u69 {
  position:absolute;
  left:30px;
  top:500px;
  width:100px;
  height:1px;
}
#u70 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u71 {
  position:absolute;
  left:130px;
  top:490px;
  width:100px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u72 {
  position:absolute;
  left:0px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:2px;
}
#u73 {
  position:absolute;
  left:230px;
  top:500px;
  width:100px;
  height:1px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-8px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u75 {
  position:absolute;
  left:60px;
  top:530px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u77 {
  position:absolute;
  left:128px;
  top:530px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u79 {
  position:absolute;
  left:197px;
  top:530px;
  width:35px;
  height:35px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u81 {
  position:absolute;
  left:265px;
  top:530px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u83 {
  position:absolute;
  left:50px;
  top:575px;
  width:55px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u84 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u85 {
  position:absolute;
  left:118px;
  top:575px;
  width:55px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u86 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u87 {
  position:absolute;
  left:187px;
  top:575px;
  width:55px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u88 {
  position:absolute;
  left:0px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
}
#u89 {
  position:absolute;
  left:245px;
  top:575px;
  width:75px;
  height:20px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u90 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u91 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u92 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:310px;
  top:285px;
  visibility:hidden;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:310px;
  top:335px;
  visibility:hidden;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u98 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
